In [ ]:
#Python Database Connection Project---updates any one value in the table and select all the data and print it

import mysql.connector as sql

# Connecting the local mysql database
database = sql.connect(host = 'localhost', user = 'root', passwd = 'jaguar123', database = 'schooldb')

cur = database.cursor()


cur.execute("update student set Maths_mark = 90 where Roll_no = 100")     # Update the record 
cur.execute("select * from student")        # View the table

for i in cur:
    print(i)

cur.close()
database.commit()